
body {
    background-color: #833471;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 5rem;
}

footer, button {
    color: rgb(157, 162, 165);
    font-size: 16px;
    position: absolute;
    bottom: -1;
    right: 0;
    left: 0;
}

h1 {
    font-size: 35px;
}

.fa {
    font-size: 22px;
    margin-right: 10px;
    color: rgb(157, 162, 165);
}

#city, #country {
    font-size: 30px;
}

#description {
    font-size: 20px;
}

#measurement {
    font-size: 14px;
}

#temp {
    font-size: 130px;
    position: center !important;
}

#clock {
    font-size: 24px;
}


