
body {
    background-color: #833471;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1rem;
}

footer, button {
    color: rgb(157, 162, 165);
    font-size: 16px;
    position: absolute;
    bottom: -1;
    right: 0;
    left: 0;
}

h1 {
    font-size: 35px;
}

.fa {
    font-size: 17px;
    margin-right: 5px;
    color: #fff;
}

.fa:hover {
    color: #fff;
}

.fa-gitlab:hover {
    color: #e24329;
}

.fa-github:hover {
    color: #333;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-globe:hover {
    color: blue;
}

#city, #country {
    font-size: 30px;
}

#clock {
    font-size: 24px;
}

#description {
    font-size: 20px;
}

#measurement {
    font-size: 14px;
}

#temp {
    font-size: 100px;
    position: center !important;
}

#tutorials {
    font-size: 10px;
    color: #fff;
}

